[user]
	name = Adam Nalisnick
	email = theadam4257@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
  recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
  stats = shortlog -sn --all
[push]
	default = current
[core]
	excludesfile = /Users/theadam/.gitignore_global
