# ===============================================
# Mocha testing library snippets
# ===============================================
snippet desc "describe test entity"
describe('${1:entity}', () => {
	$2
});
endsnippet

snippet des "describe test entity"
describe('${1:entity}', () => {
	$2
});
endsnippet

snippet context "test context"
context('${1:happy path}', () => {
	$2
});
endsnippet

snippet it "it single test"
it('${1}', () => {
	$2
});
endsnippet
